h2:first-child {
    color: aqua;
    padding: 1%;
    background-color: ;
    }

.presentation {
    padding: 1%;
    background-color: ;
}

.showcase {
    padding: 1%;
    background-color: ;
}



    .card {
        padding: 5%;
        background-color: transparent;
    }
/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
